---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Unauthorized</h1>
  <p>You do not have permission to view this page.</p>
  <p>Please contact support if you believe this is an error.</p>
</Layout>
